// variable
$--v-selection-control-size: 30px;

/* overide vuetify  */
.v-list-item--variant-text .v-list-item__overlay {
  background: transparent;
}
.v-checkbox-btn .v-label {
  font-size: 0.9em;
}
.v-card--variant-outlined {
  border-color: rgba(var(--v-border-color), var(--v-border-opacity));
}
.v-btn {
  text-transform: none;
}

// date-picker
.v-date-picker {
  width: 260px;
  .v-btn--icon.v-btn--density-default {
    width: 24px;
    height: 24px;
  }
  .v-date-picker-month {
    min-width: 260px;
  }
  .v-date-picker-month__day {
    height: 24px;
    width: 24px;
  }
  .v-date-picker-months,
  .v-date-picker-years {
    height: 160px;
  }
  .v-date-picker-months__content,
  .v-date-picker-years__content {
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px 8px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    height: 40px;
  }
  .v-date-picker-month__days {
    .v-date-picker-month__weekday:nth-child(7n),
    .v-date-picker-month__day--week-end {
      color: #2196f3;
    }
    .v-date-picker-month__weekday:first-child,
    .v-date-picker-month__day--week-start {
      color: #f44336;
    }
  }
}

// textfield 와 input
.v-input--density-compact {
  .v-field__input {
    row-gap: 4px;
    padding-inline: 8px;
    padding-top: 0px;
    height: 35px;
    min-height: 35px;
    padding-bottom: 0px;
  }
  .v-field__append-inner {
    font-size: 0.8em;
  }
  .v-field__prepend-inner {
    font-size: 0.8em;
  }
}
.xsmall-input.v-input--density-compact {
  .v-field__input {
    height: 24px !important;
    min-height: 24px !important;
  }
}
.xsmall-input.v-select .v-field .v-field__input > input {
  padding: 5px 0px;
}
.v-input--density-compact .v-field .v-field__input > input {
  padding: 8px 0px;
}
.xsmall-input.v-select .v-field,
.xsmall-input .v-field__clearable {
  font-size: 0.8em !important;
}

.v-list-item--density-default.v-list-item--one-line {
  min-height: 30px;
}
.v-text-field input {
  font-size: 0.7rem;
}
.v-input--disabled {
  background: #eee;
}
.v-checkbox-btn .v-label {
  font-size: 0.8em;
}
.mutliselect-input.v-input--density-compact {
  .v-field__input {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8em;
    input {
      display: block;
      bottom: 0px;
      left: 0px;
      padding: 10px;
    }
  }
  .v-select__selection {
    padding-top: 7px;
    display: inline-block;
  }
}

.v-select__content .v-list-item--density-default.v-list-item--one-line,
.v-select__content .v-list-item-title {
  padding: 0px 6px;
  min-height: 30px;
  font-size: 0.8rem;
}

/* row  */
.v-row {
  padding: 0px;
  margin: 0px;
}

.reverse-checkbox .v-checkbox .v-selection-control {
  flex-direction: row-reverse;
  justify-content: space-between;
  color: black;
}

.v-slide-group__content {
  justify-content: center;
}
